@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap");

:root {
  box-sizing: border-box;
  color: white;
  font-family: "Bitcount", system-ui;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #ff0000;
  background: url("../bg-pattern.png"),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(112, 112, 112, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );

  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  background-size: auto, cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 3px rgb(255, 255, 255);
  font-size: 1.9rem;
}

h1 {
  background-color: rgba(0, 0, 0, 0.904);
}

header img {
  width: 190px;
  height: 190px;
}

main {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.737);
  width: 75vw;
  
}

#player-input-box {
  margin-top: 15px;
  border-radius: 20px;
  background-color: black;
  padding: 20px 50px;
  color: white;
  display: flex;
  align-self:center;
  gap: 20px;
  justify-content: space-around;
}

.player-box {
  display: flex;
  gap: 15px;
  align-items: center;
}

.player-input,
.player-input:focus,
.playe-input:active {
  border: 2px solid white;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 7px;
}

.btn,
btn:focus {
  padding: 5px 10px;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.player-symbol {
  font-size: 2.5rem;
}

#game-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns:1fr;
  align-items: center;
}

ol {
  list-style: none;
  display: flex;
}

.play-box,
.play-box:focus,
.play-box:active{
  margin: 5px;
  background-color: rgb(0, 0, 0);
  font-family: inherit;
  color:white;
  width: 200px;
  height: 200px;
  font-size: 180px;
  border: none;
  border-radius: 10px;
}

#logs{
  width:400px;
  margin-top: 20px;
  background-color: black;
  font-size: 20px;
  padding: 20px;
  border: 5px solid white;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}